<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Listing pins</h1>
  </div> <!-- Close panel-heading -->

  <div class="panel-body">
    <div class="alert alert-danger">
      <em>
        <p>Note that the images will not show up in production. This is done on purpose in order to avoid spending money for image storage space on an environment that is only temporary and is not ultimately designed for images.</p>
        <p>Heroku does not keep images stored, so images are not permanent in production, but are stored on my computer so can be viewed locally. It's just pictures of cats and doge from Google.</p>
      </em>
    </div>
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Description</th>
          <th>User email</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      
        <tbody>
          <% @pins.each do |pin| %>
            <tr id="table-padding">
              <td><%= image_tag pin.image.url(:thumb) %></td>
              <td><%= pin.description %></td>
              <td><%= pin.user.email if pin.user %></td> <!-- should delete those who return false in the if statement -->
              <td><%= link_to 'Show', pin %></td>
              <% if pin.user == current_user %> <!-- only allows you to do the below actions if the pin is associated with you -->
                <td><%= link_to 'Edit', edit_pin_path(pin) %></td>
                <td><%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      
    </table>

    <br />
    <% if user_signed_in? %>
      <%= link_to 'New Pin', new_pin_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>